* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-style: 100%;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------------*/
/*-------------------------------------------------------------------------*/
.preloader {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0b1d26;
  z-index: 1000;
}
.preloader .preloader__logo {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.preloader .preloader__logo h2 {
  color: white;
  font-size: 65px;
  font-family: Bentham;
  font-weight: 500;
  letter-spacing: 3px;
  opacity: 0;
}

.animate__animated.animate__jackInTheBox {
  animation-delay: 0.4s;
  opacity: 1;
}

.loaded .preloader {
  display: none;
}

.loaded {
  overflow-y: auto;
}

.loaded_hiding .preloader {
  transition: 0.6s opacity;
  opacity: 0;
}

/*------------------------Main-page------------------------------*/
body {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
  max-width: 1920px;
  background-color: #0b1d26;
  overflow: hidden;
  margin: 0 auto;
}

.conteiner {
  padding: 0 80px;
  position: relative;
  z-index: 30;
}

.slayer {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.parallax {
  width: 100%;
  height: 1300px;
  overflow: hidden;
  position: relative;
}

.par__sky {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  z-index: 10;
  filter: contrast(0.6);
}

.par__mount-back {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
  z-index: 11;
  filter: contrast(0.7);
}

.par__mount-main {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  z-index: 14;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 0 0;
}
.header__logo a {
  color: white;
  font-size: 2rem;
  font-family: Bentham;
}
.header__nav {
  display: block;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  display: block;
  font-weight: 700;
  font-family: Khula;
  color: white;
  padding: 0 20px;
  font-size: 1.125rem;
}
.header__nav ul li a {
  color: white;
  position: relative;
}
.header__nav ul li a:hover {
  color: #fbd784;
  transition: all 0.2s ease;
  bottom: 2px;
}

.header__log-in a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 600;
  font-family: Khula;
  font-size: 17px;
}
.header__log-in a p {
  align-self: center;
}
.header__log-in a:hover {
  color: #fbd784;
  transition: all 0.2s ease;
}
.header__log-in a:hover.icon-acount::before {
  color: #fbd784;
  transition: all 0.2s ease;
}

.icon-acount::before {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: -28px;
  transform: translateY(-55%);
}

.hero-body {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  z-index: 13;
}

.hero__content {
  max-width: 80%;
  display: block;
  padding: 0 40px;
  color: white;
  position: relative;
}

.hero__subtitle {
  font-family: Khula;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.6;
  color: #fbd784;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  position: relative;
  padding: 5px 0 0 90px;
}
.hero__subtitle h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.hero__title {
  font-family: serif;
  text-transform: capitalize;
  font-weight: 800;
  font-size: calc(32px + 48 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  padding: 1.875rem 0;
}

.hero__scroll {
  font-family: Khula;
  font-weight: 700;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 1.7;
  padding: 5px;
}
.hero__scroll a {
  position: relative;
  color: white;
  text-decoration: none;
  display: block;
  max-width: 125px;
}
.hero__scroll a:hover {
  color: #fbd784;
  top: 2px;
}
.hero__scroll a:hover.icon-arrow_downward::before {
  color: #fbd784;
}

.icon-arrow_downward::before {
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.icon-arrow_downward::before:hover {
  color: #0b1d26;
}

.follow__body {
  position: absolute;
  top: 110px;
  left: 0;
  writing-mode: vertical-rl;
  font-family: Khula;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 30px;
}
.follow__body a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}
.follow__body a:hover.icon-Insta::before {
  color: #fbd784;
}
.follow__body a:hover.icon-twitter::before {
  color: #fbd784;
  transform: scale(0.6);
}

.follow__body p {
  display: inline-block;
  padding: 0 6px 5px 0;
}

.fa-instagram {
  padding: 18px 0;
}

.page__slider {
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 150;
  padding: 10px 30px;
}
.page__slider ul li {
  text-align: center;
  padding: 15px 15px;
}
.page__slider ul li {
  border-right: 2px solid rgba(255, 255, 255, 0.356);
}
.page__slider ul li a {
  color: #fff;
  font-family: Khula;
  font-size: 18px;
  text-decoration: none;
}

@media (min-width: 1440px) {
  .parallax {
    height: 1500px;
  }
}
@media (max-width: 1210px) {
  .hero__scroll a::before {
    right: 10%;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 40px 0 0 0;
  }

  .parallax {
    height: 1100px;
  }

  .hero__title {
    padding: 1rem 0;
  }

  .page__slider {
    top: 185px;
  }

  .fa-instagram {
    padding: 13px 0;
  }

  .follow__body {
    top: 95px;
    padding: 20px;
  }
}
@media (max-width: 850px) {
  .par__mount-back {
    top: 18%;
  }
}
@media (max-width: 766px) {
  .header {
    padding: 30px 0 0 0;
  }

  .header__nav {
    display: none;
  }

  .conteiner {
    padding: 0 40px;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__subtitle {
    letter-spacing: 2px;
  }
  .hero__subtitle h3::before {
    width: 52px;
  }

  .hero__title {
    padding: 0.6rem 0;
  }

  .par__mount-back {
    top: 25%;
  }

  .par__mount-main {
    top: 38%;
  }

  .parallax {
    height: 900px;
  }

  .hero__scroll {
    padding-top: 15px;
  }

  .hero__scroll a::before {
    right: 15%;
    height: 26px;
  }

  .follow__body {
    display: none;
  }
}
@media (max-width: 425px) {
  .conteiner {
    padding: 0 40px;
  }

  .parallax {
    height: 800px;
  }

  .hero__scroll {
    display: none;
  }

  .par__mount-main {
    top: 35%;
  }

  .par__mount-back {
    top: 23%;
  }

  .hero__subtitle {
    letter-spacing: 1px;
    padding: 5px 0 0 70px;
  }
  .hero__subtitle h3::before {
    width: 52px;
  }
}
/*----------------------Main-Cont-------------------------*/
main {
  min-width: 100%;
  background-color: #0b1d26;
  margin-top: -130px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.main__content {
  max-width: 1520px;
  margin: 0 50px 0 0;
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(600px, 100vh));
  gap: 50px 70px;
  align-items: center;
}

.item__subtitle {
  font-family: Khula;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.6;
  color: #fbd784;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  position: relative;
  padding: 0 0 0 70px;
  margin-bottom: 27px;
}
.item__subtitle h3::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 0;
  transform: translateY(-48%);
  width: 52px;
  height: 2px;
  background-color: #fbd784;
}
.item__subtitle h3::after {
  content: "01";
  position: absolute;
  top: 50%;
  left: -140px;
  width: 240px;
  height: 240px;
  transform: translateY(-65%);
  font-family: Khula;
  font-size: 240px;
  color: #fff;
  opacity: 0.1;
}

.item__title {
  font-family: Bentham;
  font-size: calc(40px + 24 * ((100vw - 320px) / 1600));
  font-weight: 600;
  color: #fff;
  line-height: 1.4;
}

.item__text {
  font-family: Khula;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
  margin: 27px 0;
}

.item__more a {
  color: #fbd784;
  font-family: Khula;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.item__more a:hover {
  left: 2px;
}
.item__more a::before {
  position: absolute;
  top: -50%;
  right: -50%;
  transform: rotate(270deg) translate(-20%, -30%);
  color: #fbd784;
}

.grid__items-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.grid__items-2 {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
}
.grid__items-2 img {
  max-width: 100%;
  object-fit: cover;
}

.grid__items-3 {
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.grid__items-3 .item__subtitle h3::after {
  content: "02";
  left: -140px;
}

.grid__items-4 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.grid__items-4 img {
  max-width: 100%;
  object-fit: cover;
}

.grid__items-5 {
  grid-row: 3/4;
  grid-column: 1/2;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.grid__items-5 .item__subtitle h3::after {
  content: "03";
}

.grid__items-6 {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: end;
}
.grid__items-6 img {
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 1440px) {
  main {
    margin-top: -200px;
  }
}
@media (max-width: 1210px) {
  main {
    margin-top: -150px;
  }

  .main__content {
    gap: 50px 50px;
    padding: 0 50px;
  }

  .item__subtitle h3::after {
    top: 160%;
  }

  .grid__items-2 img,
.grid__items-4 img,
.grid__items-6 img {
    min-height: 600px;
  }
}
@media (max-width: 850px) {
  .page__slider {
    display: none;
  }

  .main__content {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
    padding: 0 40px;
    margin: 0;
  }

  .grid__items-1 {
    grid-row: 1/2;
  }

  .grid__items-2 {
    grid-row: 2/3;
  }

  .grid__items-3 {
    grid-row: 3/4;
  }

  .grid__items-4 {
    grid-row: 4/5;
  }

  .grid__items-5 {
    grid-row: 5/6;
  }

  .grid__items-6 {
    grid-row: 6/7;
  }

  .grid__items-1,
.grid__items-2,
.grid__items-3,
.grid__items-4,
.grid__items-5,
.grid__items-6 {
    grid-column: 1/2;
  }

  .grid__items-2,
.grid__items-4,
.grid__items-6 {
    justify-self: center;
  }

  .grid__items-1,
.grid__items-3,
.grid__items-5 {
    padding: 60px;
  }
}
@media (max-width: 766px) {
  .main__content {
    margin: 0 auto;
    padding: 0 30px;
  }

  .grid__items-1,
.grid__items-3,
.grid__items-5 {
    padding: 60px 30px;
  }

  main {
    margin-top: -100px;
  }
}
@media (max-width: 425px) {
  main {
    margin-top: -250px;
  }

  .main__content {
    padding: 0;
  }

  .item__subtitle h3::after {
    top: 320%;
  }
}
/*--------------------Footer _----------------------------*/
footer {
  max-width: 1720px;
  margin: 60px auto;
  display: flex;
  align-items: center;
  height: 350px;
  padding: 30px 50px;
}

.footer__article {
  flex: 50%;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

.footer__logo {
  font-family: Bentham;
  font-size: 32px;
  color: #fff;
}

.footer__text {
  padding-top: 20px;
  flex: 1 1;
  font-family: Khula;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  max-width: 35%;
  line-height: 1.4;
}

.footer__terms {
  font-family: Khula;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
  line-height: 1.2;
}

.menu__items {
  padding-left: 50px;
}

.footer__blog-menu {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
}
.footer__blog-menu p {
  color: #fbd784;
  font-family: Khula;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}
.footer__blog-menu a {
  text-decoration: none;
  font-family: Khula;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.footer__blog-menu ul li {
  padding-top: 15px;
}

.footer__more-menu {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
}
.footer__more-menu p {
  color: #fbd784;
  font-family: Khula;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}
.footer__more-menu a {
  text-decoration: none;
  font-family: Khula;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.footer__more-menu ul li {
  padding-top: 15px;
}

@media (min-width: 1920px) {
  .main__content {
    grid-template-rows: repeat(3, 80vh);
    margin: 0 auto;
  }

  .par__mount-last {
    top: 700px;
    height: 750px;
  }

  .page__slider {
    right: 3%;
  }

  .hero__title {
    font-size: 80px;
  }
}
@media (max-width: 1440px) {
  .footer__more-menu {
    justify-content: flex-end;
    padding: 0 20px;
  }

  .menu__items {
    padding-left: 0px;
  }

  .footer__text {
    max-width: 70%;
  }
}
@media (max-width: 1024px) {
  .footer__blog-menu {
    justify-content: flex-end;
    height: 100%;
  }

  .footer__article {
    height: 100%;
  }

  .footer__more-menu {
    display: none;
  }
}
@media (max-width: 766px) {
  footer {
    flex-direction: column;
    height: 500px;
    margin: 0;
    padding: 30px;
  }

  .footer__blog-menu {
    text-align: center;
    order: 1;
  }

  .footer__article {
    order: 2;
    padding: 60px 0 0 0;
    min-height: 60%;
  }

  .footer__text {
    max-width: 60%;
  }
}
@media (max-width: 425px) {
  .footer__text {
    max-width: 100%;
  }
}
.page__slider ul li a.active {
  color: #fbd784;
}
.page__slider ul li a.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  height: 100%;
  width: 2px;
  font-weight: 700;
  background: white;
  pointer-events: none;
}

.page__slider ul li {
  position: relative;
}