@charset "UTF-8";

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "Biryani";
  font-display: swap;
  src: url("../fonts/Biryani-Bold.woff") format("woff"), url("../fonts/Biryani-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Biryani";
  font-display: swap;
  src: url("../fonts/Biryani-Regular.woff") format("woff"), url("../fonts/Biryani-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kameron";
  font-display: swap;
  src: url("../fonts/Kameron-Bold.woff") format("woff"), url("../fonts/Kameron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  font-display: swap;
  src: url("../fonts/Kanit-ExtraBold.woff") format("woff"), url("../fonts/Kanit-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  font-display: swap;
  src: url("../fonts/Kanit-Medium.woff") format("woff"), url("../fonts/Kanit-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  font-display: swap;
  src: url("../fonts/Kanit-SemiBold.woff") format("woff"), url("../fonts/Kanit-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/*-----------------------------Обнуление --------------------------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------Body----------------------------------*/

body.lock {
  overflow: hidden;
}

h1,
h2 {
  font-family: Kanit, sans-serif;
  font-size: calc(25px + 25 * (100vw / 1440));
  font-weight: 800;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

p {
  font-family: Biryani, sans-serif;
  font-size: calc(15px + 5 * (100vw / 1440));
  font-weight: 400;
  color: rgba(49, 49, 49, 0.9);
  line-height: 1.5;
}

.button {
  font-family: sans-serif;
  font-weight: 800;
  padding: 15px 40px;
  font-size: 1.125rem;
  background-color: #f7de03;
  text-transform: capitalize;
  color: #000000;
  display: inline-block;
}

.conteiner {
  overflow: hidden;
  min-height: 100%;
}

.wrappen {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  max-width: 100%;
  display: grid;
  grid-template: 1fr auto minmax(350px, 650px) repeat(6, auto)/1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
  margin-top: 80px;
  background-color: white;
}

/*---------------------------------Header----------------------------*/

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  z-index: 10;
}

.header__conteiner {
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  overflow: hidden;
  position: relative;
}

.lock-padding {
  overflow: hidden;
}

header.sticky {
  max-height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  position: fixed;
}

header.sticky ul li a,
header.sticky .header__logo a {
  color: #fff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__nav {
  font-family: Biryani;
  font-size: 20px;
  line-height: 0.9;
}

.header__ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul li {
  margin: 0 15px;
}

.header__ul > li > a {
  position: relative;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  line-height: 2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__ul li {
  position: relative;
}

.header__ul > li:hover {
  -webkit-transition: top 0.6s ease-in;
  -o-transition: top 0.6s ease-in;
  transition: top 0.6s ease-in;
  bottom: 2px;
}

.header__ul > li:active {
  bottom: 0;
}

.header__logo a {
  font-family: "Kameron", serif;
  font-size: calc(50px + 20 * (100vw / 1440));
  text-decoration: none;
  display: inline-block;
  color: black;
}

/* ------------------------Burger ---------------------------------*/

.header__nav-burg {
  display: none;
}

.sticky .header__nav-burg {
  color: #fff;
}

.header__nav.is-open .header__dropdown {
  right: 0;
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.header__nav.is-open .header__ul > li {
  margin: 0;
}

.header__nav.is-open .header__nav-burg span {
  -webkit-transform: translate(0, -50%) scale(0);
      -ms-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__nav.is-open .header__nav-burg::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0px, -50%);
      -ms-transform: rotate(45deg) translate(0px, -50%);
          transform: rotate(45deg) translate(0px, -50%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__nav.is-open .header__nav-burg::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ------------------------- Main screen 1st -----------------------*/

.first__l-screen {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  padding-bottom: 96.05782%;
  height: 0;
}

.first__l-screen img {
  max-width: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.first__r-screen {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 3.75em 0 5em;
}

.first__r-title p {
  padding: 1.5em 0 2em 0;
  max-width: 85%;
}

.main-btn {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 800;
  padding: 14px 43px;
  font-size: 1.125rem;
  background-color: #f7de03;
  text-transform: capitalize;
  cursor: pointer;
  height: 46px;
  color: #000;
}

.main-btn:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
}

.main-btn:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}

/*----------------------Second-Screen -----------------------------*/

.second__right-screen {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
}

.second__r-screen img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: auto;
}

.second__l-title p {
  padding-top: 25px;
}

.second__l-screen {
  grid-area: 2 / 1 / 3 / 2;
  padding-left: 90px;
  max-width: 75%;
}

.second__r-screen {
  width: 100%;
  padding-bottom: 66.66667%;
  height: 0;
}

.second__r-screen .span-clicker1,
.second__r-screen .span-clicker2,
.second__r-screen .span-clicker3 {
  position: absolute;
  width: 25px;
  height: 25px;
  text-indent: 10em;
  overflow: hidden;
  text-decoration: none;
  background-color: rgba(233, 227, 227, 0.47);
  border-radius: 50%;
}

.second__r-screen .span-clicker1 {
  top: 65%;
  left: 71%;
}

.second__r-screen .span-clicker2 {
  top: 48%;
  left: 41%;
}

.second__r-screen .span-clicker3 {
  top: 27%;
  left: 63%;
}

.second__r-screen a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: yellow;
  -webkit-animation: animate_pulse 0.8s infinite;
          animation: animate_pulse 0.8s infinite;
}

@-webkit-keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(251, 255, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(251, 255, 0, 0.7);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(240, 226, 29, 0.1);
            box-shadow: 0 0 0 10px rgba(240, 226, 29, 0.1);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

@keyframes animate_pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(251, 255, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(251, 255, 0, 0.7);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(240, 226, 29, 0.1);
            box-shadow: 0 0 0 10px rgba(240, 226, 29, 0.1);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
            box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

.second__r-screen a:hover::before {
  -webkit-animation: none;
          animation: none;
}

.option-1,
.option-2,
.option-3 {
  position: absolute;
  width: 150px;
  height: 40px;
  font-family: Biryani;
  font-size: 16px;
  color: #000000;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.9);
  padding: 7px 5px 6px 37px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.option-1 {
  left: 47%;
  top: -30%;
}

.option-2 {
  left: 18%;
  top: -35%;
}

.option-3 {
  left: 67%;
  top: -35%;
}

.option-1.active {
  opacity: 1;
  left: 47%;
  top: 74%;
}

.option-2.active {
  top: 35%;
  opacity: 1;
}

.option-3.active {
  top: 35%;
  opacity: 1;
}

.option-1::before,
.option-2::before,
.option-3::before {
  content: "+";
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  background-color: yellow;
  padding-top: 5.5px;
}

/*-----------------------THird-screen ------------------------*/

.third__screen {
  grid-area: 3 / 1 / 4 / 3;
  height: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.third__screen img {
  min-width: 100%;
  height: auto;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  display: none;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.third__screen:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video--enabled .video__button {
  display: block;
}

.video-media {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

/* ------------------- fourth-page ---------------------------------*/

.fourth__screen {
  grid-area: 4 / 1 / 5 / 3;
}

.body-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-items {
  display: block;
  margin-top: 30px;
  max-width: 30%;
  padding: 0.5em;
}

.card-items img {
  display: inline-block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-items:hover {
  position: relative;
  top: -15px;
  left: 0;
  -webkit-transition: top 0.6s;
  -o-transition: top 0.6s;
  transition: top 0.6s;
  border-radius: 8%;
  background-color: rgba(216, 212, 212, 0.1);
}

.card-items h3 {
  font-size: calc(17px + 5 * (100vw / 1440));
  font-family: Kanit;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 2.2em 0;
}

.card-items p {
  padding: 0 70px;
  margin: 0 auto;
  line-height: 1.5;
}

/*----------------------------fifth-page-----------------------------------*/

.fifth__l-screen {
  grid-area: 5 / 1 / 6 / 2;
  margin: 40px 0 50px 50px;
  align-self: end;
}

.fifth__r-screen {
  grid-area: 5 / 2 / 6 / 3;
  margin-bottom: 65px;
  width: 100%;
  height: 0;
  padding-bottom: 72.18045%;
}

.fifth__r-screen img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.content__items {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
  margin: 20px 0;
  line-height: 1.6;
}

.content__items p {
  min-width: 50%;
  font-size: calc(15px + 5 * (100vw / 1440));
}

.content__items h3 {
  word-wrap: break-word;
  font-family: Kanit;
  color: rgba(0, 0, 0, 0.9);
  font-size: calc(20px + 5 * (100vw / 1440));
  font-weight: 500;
  min-width: 50%;
  text-transform: uppercase;
}

/* -------------------------------sixth-page-------------------------*/

.sixth__l-screen {
  grid-area: 6 / 1 / 7 / 2;
  position: relative;
  width: 100%;
  padding-bottom: 97.5%;
  height: 0;
}

.sixth__l-screen img {
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_change {
  display: none;
}

.img_change.open {
  display: block;
}

.sixth__r-screen {
  grid-area: 6 / 2 / 7 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 90%;
  width: 100%;
  padding-left: 8.75rem;
}

.r-screen__prise {
  padding: 25px 0;
}

.r-screen__prise span {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.875rem;
  color: rgba(0, 0, 0, 0.9);
}

.radio__color p {
  font-family: Kanit;
  font-weight: 500;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
}

.radio__size p {
  font-family: Kanit;
  font-weight: 500;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
}

.radio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  min-width: 350px;
  max-width: 360px;
}

.radio-title a {
  color: #040786;
}

.order {
  position: relative;
  margin-top: 100px;
}

.order span {
  position: absolute;
  top: -23px;
  left: 28px;
  font-family: Kanit;
  font-weight: 500;
  white-space: nowrap;
}

.svg-delivery-dims {
  position: absolute;
  top: -25px;
  left: 0;
  width: 20px;
  height: 20px;
}

.order button:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
}

.order button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.color__btn {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  min-height: 50px;
}

.color__btn input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: inline-block;
}

#radio1,
#radio2,
#radio3 {
  opacity: 0;
  position: relative;
  z-index: -5;
  visibility: hidden;
}

.color_inp {
  position: relative;
  display: inline-block;
}

.color_inp:first-of-type::before {
  background-color: rgba(20, 20, 20, 0.877);
}

.color_inp:nth-of-type(2)::before {
  background-color: yellow;
}

.color_inp:last-of-type::before {
  background-color: white;
}

.color_inp:before {
  content: "";
  position: absolute;
  top: 0;
  left: -45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  cursor: pointer;
}

#radio1:checked + .color_inp:before,
#radio2:checked + .color_inp:before,
#radio3:checked + .color_inp:before {
  border: 2px solid #52a8fc;
  width: 31px;
  height: 31px;
  -webkit-transition: all 1ms ease;
  -o-transition: all 1ms ease;
  transition: all 1ms ease;
}

#radio1:hover + .color_inp:before,
#radio2:hover + .color_inp:before,
#radio3:hover + .color_inp:before {
  -webkit-filter: drop-shadow(8px 8px 5px grey);
          filter: drop-shadow(8px 8px 5px grey);
}

.size__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.size__btn input {
  display: none;
}

.size__btn label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
  cursor: pointer;
  padding: 15px 25px;
  color: rgba(0, 0, 0, 0.9);
  font-family: Biryani;
  background-color: rgba(237, 237, 237, 0.6);
}

.size__btn label {
  margin-right: 20px;
}

.size__btn input:checked + label {
  border: 2px solid #ffe600;
}

.size__btn label:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

/*--------------------------------Seventh-Screen_------------------------------*/

.seventh__l-screen {
  grid-area: 7 / 1 / 8 / 2;
  width: 100%;
  align-self: end;
  margin-top: 40px;
}

.seventh__conteiner-l {
  max-width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seventh__title {
  max-width: 60%;
  margin-bottom: 35px;
}

.seventh__title h3 {
  padding-top: 15px;
  font-family: Kanit;
  font-weight: 600;
  font-size: 1.5rem;
}

.seventh__text {
  max-width: 60%;
}

.seventh__r-screen {
  grid-area: 7 / 2 / 8 / 3;
  margin-bottom: 40px;
}

.seventh__conteiner-r {
  width: 100%;
  height: 0;
  padding-bottom: 74.25743%;
}

.seventh__conteiner-r img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------------------------------Eight_screen-----------------------------*/

.eight__l-screen {
  grid-area: 8 / 1 / 9 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 40px;
}

.eight__container {
  width: 100%;
  height: 100%;
}

.eight__container iframe {
  border: 1px solid #dfdfdf;
  max-width: 100%;
  height: 100%;
}

.eight__r-screen {
  grid-area: 8 / 2 / 9 / 3;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eight__form {
  display: block;
  width: 90%;
  max-height: 100%;
}

.eight__title {
  width: 90%;
}

.eight__title h3 {
  padding: 25px 0;
  font-family: Kanit;
  font-size: 22px;
  text-transform: uppercase;
}

.input__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
}

.input__name {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.input__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.form__text {
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  text-transform: capitalize;
}

.name {
  width: 80%;
  height: 30px;
  border: 1px solid #dfdfdf;
  padding: 3px;
  font-size: 20px;
}

.email {
  display: block;
  width: 80%;
  height: 30px;
  border: 1px solid #dfdfdf;
}

.text-area {
  display: block;
  width: 90%;
  min-height: 150px;
  border: 1px solid #dfdfdf;
  resize: none;
}

.input__submit {
  padding-top: 40px;
}

.input__submit input {
  padding: 10px 70px;
  background-color: #ffe600;
}

.submit-btn {
  font-size: 18px;
  font-weight: 700;
  font-family: Biryani;
}

.submit-btn:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
}

.submit-btn:active {
  font-size: 16px;
  margin: 2px;
}

.forms {
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
}

.eight__container address {
  font-size: 20px;
  font-family: "Biryani";
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.eight__container address p {
  line-height: 0.7;
}

.svg-marker-dims {
  width: 25px;
  height: 25px;
}

/*-----------------------------------Footer--------------------------------------------------*/

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 40px;
}

.footer__left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo a {
  font-family: "Kameron", serif;
  font-size: calc(50px + 20 * (100vw / 1440));
  text-decoration: none;
  display: inline-block;
  color: white;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.menu__blocks {
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__blocks > a {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  font-family: Biryani;
  font-weight: bold;
  font-size: 18px;
  color: white;
  position: relative;
}

.menu__blocks > a:hover {
  bottom: 2px;
  color: #ffd900;
}

.menu__blocks > a:active {
  font-size: 16px;
  padding-bottom: 2px;
}

.footer__more {
  font-family: Biryani;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.footer__more a {
  color: #ffd900;
  position: relative;
  padding-left: 30px;
}

.footer__more a:hover {
  bottom: 2px;
}

.footer__more a:active {
  font-size: 16px;
}

.footer__right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
}

.sign-up__title h3 {
  color: white;
  font-size: calc(20px + 5 * (100vw / 1440));
  font-weight: 700;
  font-family: Kanit;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px 0 30px 0;
}

.sign-up {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-up input {
  -ms-flex-item-align: start;
      align-self: start;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.sign-up input::-webkit-input-placeholder {
  color: white;
}

.sign-up input::-moz-placeholder {
  color: white;
}

.sign-up input:-ms-input-placeholder {
  color: white;
}

.sign-up input::-ms-input-placeholder {
  color: white;
}

.sign-up input::placeholder {
  color: white;
}

.sign-up input:first-child {
  width: 60%;
  padding: 0 0 5px 5px;
}

.sign-up input:last-child {
  min-width: 15%;
  color: #ffe500;
  padding: 0 5px 5px 0;
  position: relative;
  border: 0;
  padding-left: 20px;
}

.sign-up input:last-child:hover {
  color: white;
}

.sign-up input:last-child:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.coopyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.coopyright p {
  font-size: 15px;
  color: white;
}

.follow {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 50px 0 0 0;
  position: relative;
}

.follow p {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.follow a {
  display: block;
  position: absolute;
  top: 55%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.follow a:active {
  width: 25px;
  height: 29px;
}

.follow a:first-of-type {
  left: 0px;
}

.follow a:nth-of-type(2) {
  left: 46px;
}

.follow a:last-of-type {
  left: 100px;
}

.follow a:hover {
  top: calc(50% - 1px);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.follow a:active {
  width: calc(width - 3px);
  height: calc(height - 3px);
}

.svg-facebook-dims,
.svg-twitter-dims,
.svg-instagram-dims {
  width: 30px;
  height: 30px;
}

/*------------------Modal Window -----------------------------------------*/

.modal__window {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 10;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000000;
  max-width: 600px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -200%);
      -ms-transform: translate(0px, -200%);
          transform: translate(0px, -200%);
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  color: #000000;
}

.popup__close:hover {
  top: 13px;
  font-weight: 600;
}

.popup__title h2 {
  text-align: center;
}

.popup__title img {
  max-width: 100%;
}

.popup__text {
  font-family: Roboto;
  font-size: 1.2rem;
  padding: 10px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.9);
}

.popup__text span {
  font-weight: 800;
  color: black;
}

.popup__text ol li {
  padding-top: 15px;
}

.modal__window.open {
  opacity: 1;
  visibility: visible;
}

.modal__window.open .popup__content {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

/*---------------------Popup Window Buy _---------------------------------------*/

.modal__window-buy {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 10;
}

.popup__content-buy {
  background-color: white;
  max-width: 55%;
  position: relative;
  padding: 30px 20px;
  opacity: 0;
  -webkit-transform: translate(0px, -200%);
      -ms-transform: translate(0px, -200%);
          transform: translate(0px, -200%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  overflow: scroll;
  max-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.popup__content-buy::-webkit-scrollbar {
  display: none;
}

.popup__body-buy {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__title-buy {
  text-align: center;
}

.popup__title-buy h3 {
  font-size: 30px;
  font-family: Roboto;
  padding: 10px 0;
}

.popup__text-buy {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}

.popup__text-buy img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
}

.go-back,
.popup__text-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__window-buy.open {
  opacity: 1;
  visibility: visible;
}

.modal__window-buy.open .popup__content-buy {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.popup__close1 {
  position: relative;
  top: 0;
  left: 0;
}

.popup__media {
  width: 100%;
  height: 0;
  padding-bottom: 47.71429%;
}

.b-loaded {
  opacity: 1;
}

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

@media only screen and (min-width: 1440px) {
  header {
    width: 1440px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1210px) {
  .first__r-title p {
    max-width: 100%;
    padding: 15px 0 25px;
  }

  .first__r-screen {
    padding: 0 3.75em;
  }

  .second__l-screen {
    max-width: 80%;
    padding: 0 20px 0 70px;
  }

  .second__l-title > p {
    padding-top: 20px 0;
  }

  .fifth__r-screen {
    margin-bottom: 30px;
  }

  .fifth__r-screen {
    margin-bottom: 0;
  }

  .sixth__l-screen img {
    max-width: 100%;
    width: unset;
  }

  .sixth__r-screen {
    padding-left: 6.25rem;
    max-height: 100%;
  }

  .r-screen__prise {
    padding: 20px 0;
  }

  .radio__color p {
    padding: 5px 0;
  }

  .color__btn {
    padding-top: 5px;
  }

  .radio-title {
    padding-top: 15px;
  }

  .seventh__r-screen {
    margin-bottom: 0;
  }

  .text-area {
    min-height: 100px;
  }
}

@media screen and (max-width: 1210px) {
  .card-items p {
    padding: 0 50px;
    color: #313131;
  }

  .body-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card-items h3 {
    padding: 1.5em 0;
  }
}

@media only screen and (max-width: 1024px) {
  h1,
  h2 {
    line-height: 0.9;
  }

  p {
    line-height: 1.3;
  }

  main {
    margin-top: 70px;
    row-gap: 65px;
    grid-template: 1fr auto minmax(350px, 550px) repeat(6, auto)/1fr 1fr;
  }

  header {
    max-height: 70px;
  }

  .header__conteiner {
    padding: 10px 50px;
  }

  header.sticky {
    max-height: 70px;
  }

  .first__r-screen {
    padding: 0 3.125em 0 2.5em;
  }

  .second__l-title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .second__l-screen {
    padding: 0 15px 0 50px;
    max-width: 85%;
  }

  .second__l-title p {
    padding-top: 15px 0;
  }

  .second__r-screen {
    position: relative;
  }

  .second__r-screen {
    margin-bottom: 65px;
  }

  .option-1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -30%;
  }

  .option-3.active {
    left: 50%;
    top: 106%;
  }

  .option-2 {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -35%;
  }

  .option-2.active {
    top: 92%;
  }

  .option-3 {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .option-1.active {
    left: 50%;
    top: 78%;
  }

  .sixth__r-screen {
    padding-left: 4rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .r-screen__prise {
    padding: 15px 0 10px 0;
  }

  .r-screen__prise span {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .radio-title {
    padding: 0;
    max-width: 350px;
  }

  .order {
    margin-top: 50px;
  }

  .size__btn label {
    margin-right: 10px;
  }

  .seventh__r-screen {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .seventh__title {
    max-width: 80%;
    margin-bottom: 25px;
  }

  .seventh__text {
    max-width: 80%;
  }

  .input__body {
    margin: 15px 0;
  }

  .eight__title h3 {
    padding: 15px 0;
  }

  .input__submit {
    padding-top: 20px;
  }

  .footer {
    padding: 0;
  }

  .footer__menu {
    padding: 50px 0;
  }

  .sign-up__title h3 {
    padding: 0 0 20px 0;
    max-width: 300px;
  }

  .popup__content-buy {
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .card-items p {
    padding: 0 30px;
  }

  .card-items {
    max-width: 32%;
    margin-top: 20px;
  }

  .card-items h3 {
    letter-spacing: 0.02em;
    padding: 1.3em 0;
  }

  .card-items img {
    max-width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .fifth__l-screen {
    margin: 20px 0 0 40px;
  }

  .content__items p {
    text-align: center;
  }

  .content-conteiner {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 766px) {
  h1,
  h2 {
    font-size: calc(30px + (25 + 30 * 0.7) * ((100vw - 320px) / 1440));
  }

  p {
    font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1440));
  }

  main {
    grid-template: 1fr repeat(3, auto) minmax(350px, 400px) repeat(10, auto)/100%;
  }

  .header__conteiner {
    padding: 10px 40px;
  }

  header.sticky ul li a {
    color: black;
  }

  .header__ul {
    display: inline-block;
    min-width: 30%;
    margin-top: 80px;
  }

  .header__ul > li + li {
    margin-left: 0;
  }

  .header__ul > li {
    padding: 1.2rem 0;
  }

  .header__ul li a {
    min-width: 100%;
  }

  .header__ul li:after {
    opacity: 0;
    border: none;
    top: 30px;
  }

  .header__ul li:hover:after {
    opacity: 0;
  }

  .header__logo a {
    font-size: calc(50px + (20 + 20 * 0.7) * ((100vw - 320px) / 1440));
  }

  .header__dropdown {
    overflow: hidden;
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    -webkit-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }

  .header__nav-burg {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__nav-burg::before,
  .header__nav-burg::after,
  .header__nav-burg span {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__nav-burg::before,
  .header__nav-burg::after {
    content: "";
  }

  .header__nav-burg::before {
    top: 0;
  }

  .header__nav-burg::after {
    bottom: 0;
  }

  .header__nav-burg span {
    top: 50%;
    -webkit-transform: translate(0, -50%) scale(1);
        -ms-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
  }

  .sticky .header__nav-burg::before,
  .sticky .header__nav-burg::after,
  .sticky .header__nav-burg span {
    background-color: #fff;
  }

  .first__r-screen {
    padding: 0 3.125em;
  }

  .first__l-screen {
    grid-area: 1 / 1 / 2 / 1;
  }

  .first__r-screen {
    grid-area: 2 / 1 / 3 / 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
  }

  .first__r-title p {
    padding: 20px 0 25px;
  }

  .second__right-screen {
    grid-area: 3 / 1 / 4 / 2;
  }

  .second__l-screen {
    grid-area: 4 / 1 / 5 / 2;
    padding: 0;
    text-align: center;
  }

  .second__r-screen {
    margin: 0;
  }

  .option-1,
  .option-2,
  .option-3 {
    position: relative;
    display: block;
    margin: 10px 0;
    opacity: 1;
  }

  .second__r-screen a::before {
    content: "";
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: none;
            animation: none;
    cursor: none;
    pointer-events: none;
  }

  .second__r-screen .span-clicker1,
  .second__r-screen .span-clicker2,
  .second__r-screen .span-clicker3 {
    position: absolute;
    width: 18px;
    height: 18px;
    text-indent: 10em;
    overflow: hidden;
    text-decoration: none;
    background-color: rgba(233, 227, 227, 0.47);
    border-radius: 50%;
  }

  .third__screen img {
    min-width: 100%;
    height: 100%;
  }

  .sixth__l-screen {
    grid-area: 9 / 1 / 10 / 2;
  }

  .sixth__r-screen {
    grid-area: 10 / 1 / 11 / 2;
    padding: 0 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .r-screen__prise {
    padding: 30px 0;
  }

  .radio__size {
    padding: 30px 0;
  }

  .color__btn {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .seventh__l-screen {
    grid-area: 12 / 1 / 13 / 2;
    margin: 0;
  }

  .seventh__r-screen {
    grid-area: 11 / 1 / 12 / 2;
    margin: 0;
  }

  .seventh__title {
    max-width: 90%;
    text-align: center;
  }

  .seventh__text {
    max-width: 80%;
    text-align: center;
  }

  .eight__container address {
    padding-top: 5px;
  }

  .eight__l-screen {
    grid-area: 13 / 1 / 14 / 2;
    padding: 0 20px;
  }

  .eight__r-screen {
    grid-area: 14 / 1 / 15 / 2;
    padding: 0 30px;
    margin-top: 50px;
  }

  .eight__container {
    max-width: 100%;
    min-height: 250px;
  }

  .eight__title {
    text-align: center;
  }

  .eight__form {
    padding-left: 50px;
  }

  .sign-up__title h3 {
    padding: 0 0 20px 0;
    font-size: calc(15 px + (6 + 6 * 0.7) * ((100vw - 320px) / 1440));
  }

  .footer__logo a {
    font-size: calc(50px + (20 + 20 * 0.7) * ((100vw - 320px) / 1440));
  }

  .menu__blocks:first-child {
    display: none;
  }

  .footer__more a {
    padding: 0;
  }

  .footer__more span {
    display: none;
  }

  .footer__left {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
  }

  .footer__right {
    -webkit-box-flex: 55%;
        -ms-flex: 55%;
            flex: 55%;
    padding-left: 20px;
  }

  .popup__content {
    overflow: scroll;
    max-width: 500px;
    max-height: 350px;
  }

  .popup__content-buy {
    max-width: 90%;
  }
}

@media screen and (max-width: 766px) {
  .third__screen {
    grid-area: 5 / 1 / 6 / 1;
    font-size: 0;
  }

  .fourth__screen {
    grid-area: 6 / 1 / 7 / 2;
  }

  .body-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .card-items {
    max-width: 52%;
  }

  .card-items p {
    padding: 0 15px;
  }

  .card-items h3 {
    font-size: calc(17px + (12 + 5 * 0.7) * ((100vw - 320px) / 1440));
  }

  .fifth__l-screen {
    grid-area: 8 / 1 / 9 / 2;
    align-self: center;
    margin: 20px;
  }

  .fifth__r-screen {
    grid-area: 7 / 1 / 8 / 2;
    max-width: 100%;
  }

  .content__items p {
    text-align: start;
    font-size: calc(13px + (5 + 5 * 0.7) * ((100vw - 320px) / 1440));
  }

  .content__items h3 {
    font-size: calc(16px + (5 + 5 * 0.7) * ((100vw - 320px) / 1440));
  }
}

@media only screen and (max-width: 600px) {
  .option-3.active {
    left: 50%;
    top: 102%;
  }

  .option-2.active {
    top: 90%;
  }

  .option-1.active {
    left: 50%;
    top: 78%;
  }

  .eight__form {
    width: 100%;
    padding-left: 0;
  }

  .email {
    width: 100%;
  }

  .text-area {
    width: 100%;
  }

  .eight__r-screen {
    padding: 0 15px;
  }

  .menu__blocks:nth-child(2) {
    display: none;
  }

  .sign-up__title h3 {
    max-width: 100%;
    padding: 0;
  }

  .footer__more span {
    display: none;
  }

  .footer__body {
    padding: 30px 30px;
  }

  .footer__left {
    display: none;
  }

  .footer__body {
    min-height: 320px;
  }

  .follow a {
    top: 53%;
  }
}

@media screen and (max-width: 600px) {
  .card-items {
    max-width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  main {
    row-gap: 30px;
    grid-template: 1fr repeat(3, auto) minmax(300px, 300px) repeat(10, auto)/100%;
  }

  .header__conteiner {
    padding: 0 30px;
  }

  .header__nav.is-open .header__dropdown {
    top: 70px;
  }

  .first__r-screen {
    padding: 0 20px;
  }

  .first__r-screen p {
    padding: 15px 0 25px;
  }

  .second__l-screen {
    padding: 0 20px;
  }

  .second__l-screen p:last-child {
    display: none;
  }

  .size__btn label span {
    display: none;
  }

  .size__btn label {
    min-width: 100px;
    font-weight: 500;
    border: 1px solid rgba(237, 237, 237, 0.6);
  }

  .radio-title {
    min-width: 150px;
    max-width: 205px;
  }

  .sixth__r-screen {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .seventh__title h3 {
    font-size: 1.21rem;
  }

  .seventh__title {
    margin-bottom: 15px;
  }

  .eight__r-screen {
    margin-top: 80px;
  }

  .eight__l-screen {
    margin-top: 60px;
  }

  .eight__container address {
    font-size: 16px;
    font-weight: 500;
  }

  address::before {
    top: 0;
  }

  .footer__left {
    display: none;
  }

  .footer__body {
    min-height: 300px;
    padding: 20px 10px;
  }

  .follow a {
    top: 60%;
  }
}

@media screen and (max-width: 425px) {
  .card-items {
    max-width: 70%;
  }

  .fifth__l-screen {
    margin: 15px;
  }

  .content-conteiner {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
  .sixth__r-screen {
    padding-left: 3rem;
    max-height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .size__btn label span {
    display: none;
  }

  .size__btn label {
    min-width: 100px;
    font-weight: 500;
    border: 1px solid rgba(237, 237, 237, 0.6);
  }

  .radio-title {
    min-width: 150px;
    max-width: 205px;
  }

  .seventh__r-screen {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .seventh__text {
    max-width: 85%;
  }

  .seventh__title {
    max-width: 85%;
    margin-bottom: 15px;
  }

  .seventh__title h3 {
    font-size: 1.1rem;
  }

  .eight__container {
    height: 100%;
  }

  .eight__l-screen {
    padding: 0 0 0 40px;
  }

  .eight__container address {
    font-size: 16px;
  }
}